// section style
.section {
  @apply py-10 lg:py-20;
}

// container
.container {
  @apply max-w-[1000px] px-4 md:px-8;
}

// page heading
.page-heading {
  @apply mb-20 text-center font-bold leading-10;
  &:after {
    @apply mx-auto mt-4 block h-1 w-10 rounded-full bg-primary content-[''];
  }
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

// image cover
.img-cover {
  @apply leading-none;
  span {
    @apply h-full w-full;
  }
  img {
    @apply object-cover;
  }
}

// author-image
.author-image {
  @apply mr-2 align-top;
  img {
    @apply max-h-[25px] max-w-[25px] rounded-full;
  }
}

// social icon style
.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply block h-11 w-11 rounded-lg /*border*/ border-light bg-transparent text-center text-white transition hover:border-primary hover:bg-primary;
      svg {
        @apply m-auto h-11 text-base;
      }
    }
  }
}

.social-icons-simple {
  @apply space-x-2;
  li {
    @apply inline-block;
    a {
      @apply block p-3 text-dark transition hover:text-primary;
      svg {
        @apply text-lg;
      }
    }
  }
}

.social-share {
  @apply space-x-1;
  li {
    @apply inline-block;
    a {
      @apply block p-3 transition duration-300 hover:text-primary;
    }
  }
}

// form style
.form-input,
.form-textarea {
  @apply rounded-md border-border py-3 text-text focus:border-primary focus:ring-transparent;
}

// content style
.content {
  @apply prose dark:prose-invert max-w-none prose-headings:font-bold dark:prose-headings:text-stone-200 prose-h1:mb-4 prose-h1:text-h1-sm prose-h2:mb-4 prose-h2:mt-4 prose-h2:text-h2-sm prose-h3:mt-4 prose-h3:text-h3-sm prose-h4:mt-4 prose-h5:mb-4 prose-h6:mb-6 prose-blockquote:rounded-lg dark:prose-blockquote:border-primary/70 prose-blockquote:bg-theme-light/75 dark:prose-blockquote:bg-theme-dark/50 dark:prose-blockquote:text-gray-300 prose-blockquote:px-3 sm:prose-blockquote:px-5 prose-blockquote:py-1 prose-pre:px-6 prose-pre:py-5 md:prose-h1:text-h1 md:prose-h2:text-h2 md:prose-h3:text-h3 lg:text-lg prose-blockquote:font-secondary prose-blockquote:not-italic prose-code:before:content-none prose-code:after:content-none dark:prose-strong:text-primary dark:prose-a:text-light hover:prose-a:text-primary prose-img:border-none prose-img:mt-1 prose-blockquote:leading-relaxed;
  img {
    @apply rounded border-neutral-700 border;
  }
}

.sticky {
  @apply fixed top-0 w-full z-10 bg-inherit;
}

a > svg {
  @apply h-6 w-6;
}

// footer
footer p a {
  @apply transition-all duration-200 hover:text-primary;
}

footer.section {
  @apply py-16;
}

// markdown align images
// https://stackoverflow.com/questions/255170/markdown-and-image-alignment
img[alt$=">"] {
  float: right;
  max-width: 50%;
  padding-left: 30px; 
}

img[alt$="<"] {
  float: left;
  max-width: 50%;
  padding-right: 40px; 
}

// TODO: remove when all posts use frontmatter img attribution fields
span.attribution {
  @apply block text-center italic text-xs relative -top-6 text-text dark:text-light opacity-90;
}

a.attribution {
  @apply block text-center italic text-xs text-text dark:text-light opacity-90 mt-2 hover:text-primary;
}

.theme-switcher {
  @apply inline-flex;

  label {
    @apply bg-border relative inline-block h-4 w-6 cursor-pointer rounded-2xl lg:w-10;
  }

  input {
    @apply absolute opacity-0;
  }

  span {
    @apply bg-dark absolute -top-1 left-0 flex h-6 w-6 items-center justify-center rounded-full transition-all duration-300 dark:bg-white;
  }

  input:checked + label {
    span {
      @apply lg:left-4;
    }
  }
}
